body {
	font-family: "Times New Roman";
	width: 960px;
	margin: auto;
	background: rgb(37,141,200); /* Old browsers */
		background: -moz-linear-gradient(-45deg, rgba(37,141,200,1) 22%, rgba(226,217,43,1) 52%, rgba(249,77,47,1) 83%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, rgba(37,141,200,1) 22%,rgba(226,217,43,1) 52%,rgba(249,77,47,1) 83%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, rgba(37,141,200,1) 22%,rgba(226,217,43,1) 52%,rgba(249,77,47,1) 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#f94d2f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
h1 {
	border-top: 3px solid black;
	border-right: 3px solid black;
	border-left: 3px solid black;
	padding: .5em;
	margin: 0;
	text-align: center;
		
}
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;

}
#nav_menu ul li {
	float: left;
	width: 25%;
}
#nav_menu ul li a {
	display: block;
	text-align: center;
	padding: 1em 0;
	text-decoration: none;
	color: black;
	border: 3px solid black;
	border-collapse:collapse;
}
#nav_menu a.current {

}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
h2 {
	font-size: 200%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	line-height: 24px;
}
.logo {
	display: inline-block;
	vertical-align: middle;
}
.th {
	font-size: 75%;
	font-style: italic;
	display: inline-block;
}
p {
	line-height: 20px;
}
.ff_bottom {
	font-size: 75%;
}
.crew {
	border: 5px solid black;
	float: center;

}
figure {
	margin: 0 20em;
}
figcaption {
	display: block;
	font-weight: bold;
	margin: 0;
}
#printButton {
	float: right;
	margin: .75em 1em 1em .25em;
	padding: .25em .5em;
	border: 1px solid black;
}
/* the styles for the image swap list */ 
section #image_list li {
	padding: 3px;
	display: inline;
	float: left;
}
section #image_list a {
	border:none;
}
section #image_list ul {
	padding-bottom: .25em;
	text-decoration: none;
}
section #caption {
	text-align: left;
	float: right;
	display: inline-block;
	padding-top: 4.5em;
}
#image {
	margin-left: 2.67em; 
	display: inline-block;
	border: 2px solid black;
}
.fun_facts {
	display: inline-block;
	padding-right: 1em;
	float: none;
}
.button {
	margin: .5em 0 0 6.5em;
}
.button1 {
	display: inline-block;
	margin: 1em;
}
.answer1, .answer2, .answer3 {
	border: solid 2px black;
	display: inline-block;
	margin: 1em;
	padding: .5em;
}